<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyu.mapper.EmployeeMapper">
    <select id="selectEmployeeByIdLike"
            resultType="com.yyu.domain.Employee">
        SELECT * FROM tb_employee WHERE state = 'ACTIVE'
        <if test="id != null">
            and id = #{id}
        </if>
    </select>
</mapper>